.log-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 140px;
	height: 35px;
	list-style: none;
	margin-right: 5%;
	border: 1px solid #375a7f;
	border-radius: 0.25rem;
}

.log-btn:last-child {
	margin-right: 0;
}

.log-btn a {
	color: #fff;
	text-decoration: none;
}

.log-btn a:hover {
	color: #375a7f;
}