.header {
  margin-top: .5rem;
	padding-left: 10px;
	color: white;
}
.header a {
	color: white;
	text-decoration: none;
}
.header a:hover {
	color: #375a7f;
	text-decoration: none;
}
.header ul li {
  list-style: none;
  margin: 0;
  padding: .5rem 1rem;
  border-radius: 3px;
}

.header .btn {
	background-color: none;
	border-color: #375a7f;
}
.header .btn {
	background-color: none;
	border-color: #375a7f;
}
.header ul {
	justify-content: flex-end;
}